<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925532634859-c9ln708e15b8as5jrt09gvogf7q3slim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925532634859-c9ln708e15b8as5jrt09gvogf7q3slim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925532634859-dcen5vdhppjtefdf72paq4vk2o1b8qtl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpenKEBOmGcAPUlNqNf8W9BCL5K6l2ZkM</string>
	<key>GCM_SENDER_ID</key>
	<string>925532634859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duhalonso.todoListProvider</string>
	<key>PROJECT_ID</key>
	<string>todo-list-provider-360e2</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-provider-360e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925532634859:ios:63be4eddfd0040605248ae</string>
</dict>
</plist>